.banner-huge {
  max-height: 25%;
  min-height: 50vh;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  color: $color-background1;
  background-image: url(../images/banner1-background.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-size: cover;
  background-position: center center;
  background-repeat: none none;
  &__slogan {
    margin: 30px;
  }
  &__button {
    font-weight: 700;
    font-size: 16px;
    background-color: $color-accented;
    color: $color-background1;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .banner-huge {
    background-image: url(../images/banner1-background-x2.webp);
  }
}
@media screen and (max-width: $display-medium) {
  .banner-huge {
    font-size: x-large;
  }
}

@media screen and (min-width: $display-large) {
  .banner-huge {
    min-height: 50vh;
  }
}
