.footer {
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: $display-large;
  min-height: 252px;
  display: flex;
  // align-items: center;
  justify-content: space-around;
  // justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  flex-flow: wrap;

  font-weight: 700;
  &__element {
    // padding-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 150 auto;
  }
}
footer {
  justify-content: center;
  background-color: $color-background2;
}

@media screen and (max-width: $display-large) {
  .footer {
    box-sizing: border-box;
    text-align: center;
  }
  .contact__company {
    margin: 0 auto;
  }
}

#contact {
  > :nth-child(n) {
    display: flex;
    // padding-top: 9px;
    margin: 0;
    margin-top: 9px;
  }
}
.contact__link {
  font-weight: 500;
  color: $color-strong-60prc;
  width: 100%;
}
.contact__company {
  width: 100%;
}
.footer__element > :first-child {
  margin-block-start: 10px;
}

.newsletter-form {
  display: flex;
  /* gap: 0px; */
  /* position: relative;
    width: 100%;
    height: 100%; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  /* font-family: 'Roboto'; */
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  // padding-top: 60px;
  color: $color-background3;

  &__input-email {
    margin-right: 12px;
    padding: 15px;
    box-sizing: border-box;

    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: $color-border1;
  }
  &__label-email {
    margin-bottom: 20px;
    width: 100%;
  }

  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__flex > button {
    margin-top: 0px;
  }
}
@media screen and (min-width: $display-large) {
  .newsletter-form__label-email {
    justify-content: center;
  }
}

@media screen and (max-width: $display-large) {
  .newsletter-form {
    padding-top: 0;
  }
  .newsletter-form__flex {
    flex-wrap: wrap;
    gap: 20px; //tutaj
    // width: 450px;
  }
  .newsletter-form__input-email {
    width: 450px;
  }
}
@media screen and (max-width: $display-medium) {
  .newsletter-form__input-email {
    width: 80vw;
  }
}
